* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: hsla(345, 49%, 63%, 1);
  background: linear-gradient(135deg, hsla(345, 49%, 63%, 1) 0%, hsla(248, 45%, 52%, 1) 66%);
  background: -moz-linear-gradient(135deg, hsla(345, 49%, 63%, 1) 0%, hsla(248, 45%, 52%, 1) 66%);
  background: -webkit-linear-gradient(135deg, hsla(345, 49%, 63%, 1) 0%, hsla(248, 45%, 52%, 1) 66%);

  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  user-select: none;
}


.main-container {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 50px;
  border-radius: 13px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);

  width: 900px;
  height: 650px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 50px;
  border-radius: 13px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);

  width: 900px;
  height: 650px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile-container {
  background-color: black;
  border-radius: 13px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);

  width: 160px;
  height: 160px;
  border-radius: 100%;

  position: fixed;
  left: 50%;
  top: 8%;
  transform: translate(-50%);
}

.text {
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
}

.register-container {
  background-color: rgba(250, 6, 68, 0.25);
  border: none;
  border-radius: 13px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);

  width: 190px;
  height: 85px;

  position: fixed;
  top: 825px;
  left: 35%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: top 0.3s;
}

.register-container:active {
  /* Ação de quando clicar no botão */
}

.support-container {
  background-color: rgba(170, 2, 255, 0.25);
  border: none;
  border-radius: 13px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);

  width: 190px;
  height: 85px;

  position: fixed;
  top: 825px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: top 0.3s;
}

.support-container:active {
  /* Ação de quando clicar no botão */
}

.SAC-container {
  background-color: rgba(250, 83, 0, 0.25);
  border: none;
  border-radius: 13px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);

  width: 190px;
  height: 85px;

  position: fixed;
  top: 825px;
  left: 65%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: top 0.3s;
}

.register-container:hover,
.support-container:hover,
.SAC-container:hover {
  top: 820px;
}

.SAC-container:active {
  /* Ação de quando clicar no botão */
}
