* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: #2a9df4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Background container */
.background-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 13px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Main container */
.container {
  width: 550px;
  text-align: center;
}

/* Header */
.header {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
.menu {
  width: 100%;
}

.input-box {
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.input-box input {
  flex: 1;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  width: calc(50% - 5px);
  box-sizing: border-box;
}

/* Set margin-right for First Name input */
.input-box #first-name {
  margin-right: 5px;
}

/* Set margin-left for Last Name input */
.input-box #last-name {
  margin-left: 5px;
}

/* Button container */
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* Button styles */
.signup-button,
.back-button {
  width: 48%;
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 13px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.signup-button:hover {
  background-color: #cc7a00;
}

.back-button {
  background-color: #ff5555;
}

.back-button:hover {
  background-color: #cc0000;
}

/* Add styling for the toggle-password button */
.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Style the toggle-password button */
.toggle-password {
  width: 24px;
  height: 24px;
}
