body {
  margin: 0;
  padding: 0;
  background-color: #2a9df4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 53px;
  border-radius: 13px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.container {
  text-align: center;
  width: 400px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 32px;
  margin-bottom: 27px;
}

.input-box {
  margin-bottom: 13px;
  width: 100%;
}

.input-box input {
  width: calc(100% - 22px);
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: 48%;
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 13px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #cc7a00;
}
