body {
  margin: 0;
  padding: 0;
  background-color: #2a9df4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
}

.container {
  text-align: center;
  width: 300px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 10px;
  width: 100%;
}

.input-box input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: 48%;
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #cc7a00;
}
