/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background: hsla(345, 49%, 63%, 1);
  background: linear-gradient(135deg, hsla(345, 49%, 63%, 1) 0%, hsla(248, 45%, 52%, 1) 66%);
  background: -moz-linear-gradient(135deg, hsla(345, 49%, 63%, 1) 0%, hsla(248, 45%, 52%, 1) 66%);
  background: -webkit-linear-gradient(135deg, hsla(345, 49%, 63%, 1) 0%, hsla(248, 45%, 52%, 1) 66%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  user-select: none;
}

/* Background container */
.background-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 13px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
}

/* Main container */
.container {
  width: 400px;
  text-align: center;
}

/* Header */
.header {
  /* color: white; */
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
.menu {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group input {
  width: calc(100% - 26px);
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
}

.form-group input:focus {
  outline: 1px solid #555;
  border: 1px solid #555;
}

/* Style the toggle-password button */
.toggle-password {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Button container */
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* Button styles */
.button-login,
.button-register {
  width: 48%;
  color: #fff;
  border: none;
  padding: 13px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.3s;
}

.button-login {
  margin-left: 14px;
  margin-right: 5px;
  background-color: #0866FF;
}

.button-login:hover {
  background-color: #1877F2;
}

.button-register {
  margin-left: 5px;
  margin-right: 14px;
  background-color: #42B72A;
}

.button-register:hover {
  background-color: #36A420;
}
