/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: #4739a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Background container */
.background-container {
  background-color: #ec042b;
  padding: 50px;
  border-radius: 13px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Main container */
.container {
  width: 400px;
  text-align: center;
}

/* Header */
.header {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
.menu {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group input {
  width: calc(100% - 26px);
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

/* Style the toggle-password button */
.toggle-password {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Button container */
.button-container {
  display: center;
  justify-content: space-between;
}

/* Button styles */
.button {
  width: 185px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #cc7a00;
}